In [1]:
import numpy as np
import pandas as pd

In [2]:
# Tạo DataFrame có 2 cột là tên và tuổi (index mặc định)
d = [['Tom',20],['Jack',24],['Joe',25]]

df1 = pd.DataFrame(d,columns=['Name','Age'])
print(df1)

   Name  Age
0   Tom   20
1  Jack   24
2   Joe   25

In [3]:
# Tạo DataFrame có 2 cột là tên và tuổi (index tự tạo riêng)
df2 = pd.DataFrame(d,columns=['Name','Age'],index=[100,101,102])
print(df2)

     Name  Age
100   Tom   20
101  Jack   24
102   Joe   25

In [4]:
# Thêm 1 dòng vào df2
## Hàm loc: lấy dòng ở 1 vị trí (location)
df2.loc[103] = ['Kevin', 27]
print(df2)

      Name  Age
100    Tom   20
101   Jack   24
102    Joe   25
103  Kevin   27

In [5]:
# Truy xuất theo cột => dùng tên cột
print(df2['Name'])

100      Tom
101     Jack
102      Joe
103    Kevin
Name: Name, dtype: object

In [22]:
# Truy xuất theo dòng theo index người dùng => dùng .loc
print(df2.loc[100])

# Truy xuất theo dòng theo index mặc định => dùng .iloc
print(df2.iloc[1])

# Truy xuất nhiều dòng
df2[2:4]

      Name  Age  Age_10 Gender
102    Joe   25      35      M
103  Kevin   27      37      F

In [7]:
# Tính tổng cột
s = df2['Age'].sum()
print(s)

96

In [8]:
# Thêm cột
### Từ các cột có sẵn
df2['Age_10'] = df2['Age'] + 10
print(df2)

### Tự tạo mới (phải trùng index)
df2['Gender'] = pd.Series(['F','M','M','F'],index=[100,101,102,103])
print(df2)

      Name  Age  Age_10
100    Tom   20      30
101   Jack   24      34
102    Joe   25      35
103  Kevin   27      37
      Name  Age  Age_10 Gender
100    Tom   20      30      F
101   Jack   24      34      M
102    Joe   25      35      M
103  Kevin   27      37      F

In [9]:
def read_txt(fileName):
    f = open(fileName)
    data = f.read()
    data = data.split(',')
    data = [int(item) for item in data]
    f.close()
    return data

In [10]:
series_heights = pd.Series(read_txt('vi_du_04/heights_1.txt'))
series_weights = pd.Series(read_txt('vi_du_04/weights_1.txt'))

In [12]:
# Tạo dataframe từ 2 list 
# (truyền vào dictionary có key là tên các cột, value là list giá trị)
df = pd.DataFrame({'Height':series_heights,'Weight':series_weights})
print(df.head(10))

   Height  Weight
0      74     180
1      74     215
2      72     210
3      72     210
4      73     188
5      69     176
6      69     209
7      71     200
8      76     231
9      71     180

In [26]:
# Tìm những dòng cò height < 70 và weight > 180
df1 = df[(df['Height'] < 70) & (df['Weight'] > 180)]
df1

      Height  Weight
6         69     209
37        69     185
236       69     218
613       69     200
756       68     209
953       68     196
1006      69     190

In [31]:
# Sắp xếp tăng dần theo index
df_sort_index = df1.sort_index()
df_sort_index

# Sắp xếp giảm dần theo giá trị 'Weight'
df_sort_value = df1.sort_values(by = 'Weight', ascending = False)
df_sort_value

# Sắp xếp tăng dần theo giá trị 'Height' và Weight'
df_sort_value = df1.sort_values(by = ['Height','Weight'])
df_sort_value

      Height  Weight
953       68     196
756       68     209
37        69     185
1006      69     190
613       69     200
6         69     209
236       69     218