## Làm việc với tập tin Điểm thi THPTQG

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Diemthi_thpt_quocgia_2016.csv')
print(df.shape)
print(df.head())

(34826, 6)
  SOBAODANH         HO_TEN   NGAY_SINH         TEN_CUMTHI GIOI_TINH  \
0  18000001  DƯƠNG VIỆT AN  12/03/1998  Sở GDĐT Bắc Giang       Nam
1  18000002      ĐỖ VĂN AN   9/12/1998  Sở GDĐT Bắc Giang       Nam
2  18000003     ĐỖ XUÂN AN  12/08/1997  Sở GDĐT Bắc Giang       Nam
3  18000004   ĐẶNG PHÚC AN  19/03/1998  Sở GDĐT Bắc Giang        Nữ
4  18000005    ĐẶNG VĂN AN  25/10/1998  Sở GDĐT Bắc Giang       Nam

                                            DIEM_THI
0  Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3....
1  Toán:   5.50   Ngữ văn:   5.25   Địa lí:   5.5...
2  Toán:   4.50   Ngữ văn:   5.50   Địa lí:   3.7...
3  Toán:   3.00   Ngữ văn:   6.00   Địa lí:   5.5...
4  Toán:   2.25   Ngữ văn:   4.75   Địa lí:   5.2...

In [3]:
# Lấy 1 dòng điểm làm nháp
chuoi_test = df.iloc[0]['DIEM_THI']
print(chuoi_test)

# Tách chuỗi
lst_chuoi_test = chuoi_test.split(' ' * 2)
print(lst_chuoi_test)

Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00
['Toán:', ' 2.00', ' Ngữ văn:', ' 5.50', ' Lịch sử:', ' 3.00', ' Địa lí:', ' 5.00']

In [4]:
# Chuyển đổi chuỗi test thành 2 list: Môn, Điểm
lst_mon = []
lst_diem = []

for i in range(0,len(lst_chuoi_test),2):
    lst_mon.append(lst_chuoi_test[i].strip().strip(':'))
    lst_diem.append(float(lst_chuoi_test[i+1].strip()))

print(lst_mon)
print(lst_diem)

['Toán', 'Ngữ văn', 'Lịch sử', 'Địa lí']
[2.0, 5.5, 3.0, 5.0]

In [5]:
# Tạo dataframe có 2 cột: Môn, Điểm
df_Diem = pd.DataFrame({'Mon':lst_mon,'Diem':lst_diem})
df_Diem

       Mon  Diem
0     Toán   2.0
1  Ngữ văn   5.5
2  Lịch sử   3.0
3   Địa lí   5.0

In [6]:
# Viết hàm gom gọn
def tach_diem(chuoi_diem):
    chuoi_diem = chuoi_diem.split(' '*2)
    lst_mon = []
    lst_diem = []
    for i in range(0,len(chuoi_diem),2):
        lst_mon.append(chuoi_diem[i].strip().strip(':'))
        lst_diem.append(float(chuoi_diem[i+1].strip()))
    return pd.DataFrame({'Mon':lst_mon,'Diem':lst_diem})

In [11]:
# Tính điểm trung bình của thí sinh đầu tiên:
df_Diem = tach_diem(df.iloc[0]['DIEM_THI'])
dtb = df_Diem['Diem'].mean()
print(dtb)

3.875

In [ ]:
# Thêm 1 cột điểm trung bình vào df_Diem
## Cách 1: dùng map
df['Diem_TB'] = df['DIEM_THI'].map(lambda x: tach_diem(x)['Diem'].mean())
df.head()

## Cách 2: dùng for (dữ liệu quá lớn ko đủ RAM để chạy)
# for i in range(df.shape[0]):
#     chuoi_diem = df.iloc[i]['DIEM_THI']
#     dtb = tach_diem(chuoi_diem)['Diem'].mean()
#     df.iloc[i]['Diem_TB'] = dtb

In [ ]:
# Tạo 1 cột lưu chuỗi điểm đã split
df['Ket_qua_hoc_tap'] = df['DIEM_THI'].str.split(' '*2)
df.head(5)

In [ ]:
# Cho biết các thí sinh có điểm TB >= 5
dieu_kien = df['Diem_TB'] >= 5
print(dieu_kien.head(10))
dtb_lon_hon_9 = df[dieu_kien]
dtb_lon_hon_9.head(10)

In [ ]:
# Cho biết các thí sinh Nam có điểm TB >= 5
dieu_kien_1 = (df['Diem_TB'] >= 5) & (df['GIOI_TINH'] == 'Nam')
print(dieu_kien_1.head(10))
nam_dtb_lon_hon_5 = df[dieu_kien_1]
nam_dtb_lon_hon_5.head(10)