In [1]:
import numpy as np
import pandas as pd

In [3]:
animals = pd.Series(['Elephant','Tiger','Dog','Cat','Camel','Snake'])
print(animals.shape)
print(animals)

(6,)
0    Elephant
1       Tiger
2         Dog
3         Cat
4       Camel
5       Snake
dtype: object

In [4]:
print(animals[5])

Snake

In [5]:
fruits = pd.Series(['Tao','Le','Cam','Quit'], index=['T01','L01','C03','Q07'])
print(fruits)

T01     Tao
L01      Le
C03     Cam
Q07    Quit
dtype: object

In [6]:
fruits = pd.Series({'T01':'Tao','L01':'Le','C03':'Cam','Q07':'Quit'})
print(fruits)

T01     Tao
L01      Le
C03     Cam
Q07    Quit
dtype: object

In [7]:
x = pd.Series(np.arange(20))
print(x)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int32

In [8]:
x = pd.Series(['Red','Green','Blue','White','Black'], index=[200,201,202,203,204]) # index = 200,201, ...
print(x)

200      Red
201    Green
202     Blue
203    White
204    Black
dtype: object

In [9]:
x = pd.Series(['Red','Green','Blue','White','Black'], index=np.arange(200,205,1)) # index = 200,201, ...
print(x)

200      Red
201    Green
202     Blue
203    White
204    Black
dtype: object

In [11]:
my_list = ['Red','Green','Blue','White','Black','Yellow','Orange']
x = pd.Series(my_list,index=np.arange(200,200+len(my_list),1))
print(x)

200       Red
201     Green
202      Blue
203     White
204     Black
205    Yellow
206    Orange
dtype: object

In [12]:
print(len(x))

7

In [13]:
x[205] = x[205].upper()
print(x)

200       Red
201     Green
202      Blue
203     White
204     Black
205    YELLOW
206    Orange
dtype: object

In [15]:
x = x.map(lambda i: i.upper())
print(x)

200       RED
201     GREEN
202      BLUE
203     WHITE
204     BLACK
205    YELLOW
206    ORANGE
dtype: object

In [19]:
x[800] = 'BROWN'
print(x)

200       RED
201     BROWN
202      BLUE
203     WHITE
204     BLACK
205    YELLOW
206    ORANGE
1       BROWN
800     BROWN
dtype: object

In [22]:
x = pd.Series(np.arange(1000))
print(x.head(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [23]:
print(x.tail(10))

990    990
991    991
992    992
993    993
994    994
995    995
996    996
997    997
998    998
999    999
dtype: int32

In [24]:
x = pd.Series([1,2,3])
y = pd.Series([4,5,6])
z = x+y
print(z)

0    5
1    7
2    9
dtype: int64

In [25]:
z = x.append(y)
print(z)

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [26]:
print(z[0])

0    1
0    4
dtype: int64

In [27]:
t = pd.Series(z.values)
print(t)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [31]:
x = pd.Series([21,12,19,48,21,32])

In [32]:
print(x.count())
print(x.mean())

6
25.5

In [33]:
print(x.median())

21.0

In [34]:
print(x.mode())

0    21
dtype: int64

In [36]:
print(x.prod())

154441728

In [37]:
t = 1
for num in x:
    t=t*num
print(t)

154441728

In [38]:
print(x)
print(x.cumsum())

0    21
1    12
2    19
3    48
4    21
5    32
dtype: int64
0     21
1     33
2     52
3    100
4    121
5    153
dtype: int64

In [40]:
x = pd.Series([1,2,3,np.NaN,np.NaN])
print(x)

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
dtype: float64

In [41]:
print(x.count())

3

In [43]:
print(len(x)-x.count())

2

In [45]:
x = pd.Series([21,12,19,48,21,32])
print(x.describe())

count     6.000000
mean     25.500000
std      12.755391
min      12.000000
25%      19.500000
50%      21.000000
75%      29.250000
max      48.000000
dtype: float64

In [46]:
n = (len(x)-1)*25/100
print(n)

1.25

In [47]:
n_ = 19 + (21-19)*0.25
print(n_)

19.5

In [48]:
print(x.quantile(0.25))

19.5

In [49]:
print(x.quantile(0.75))

29.25

In [50]:
print(x.quantile(30/100))

20.0